*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#left{
    width: 300px;
    min-height: 400px;
    border: 2px dashed #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#right{
    width: 300px;
    min-height: 400px;
    border: 2px dashed #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.list{
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 15px;
    background-color: rgb(233, 30, 99);
    height: 54px;
    width: 200px;
    padding-left: 20px;
    cursor: grab;
}

.list img{
    width: 10px;
}